@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

h3 {
  margin-block: .5em;
}
p {
  font-weight: bold;
  font-size: var(--size-5);
}
span {
  font-weight: normal;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: var(--size-fluid-10);
  margin: auto;
}
.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-list {
  display: grid;
  width: 100%;
  padding: var(--size-2);
  grid-template-columns: auto auto;
  gap: .5rem;
  margin-bottom: var(--size-3);
  border: 1px solid var(--surface-4);
  background: var(--surface-2);
  border-radius: var(--radius-3);
}